# 1.0 Library install and import

In [ ]:
!pip install lazypredict
!pip install numpy
!pip install pandas
!pip install sklearn

In [2]:
import pandas as pd
import numpy as np
import numpy.ma
import os 

from google.colab import drive
from google.colab import files
from lazypredict.Supervised import LazyClassifier
from sklearn.model_selection import train_test_split
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

##1.1 Google drive file creation

In [3]:
sport = 'Soccer'
file_name_1 = "/content/gdrive/MyDrive/Colab/" + sport + '/'
file_name_2 = '/content/gdrive/MyDrive/Colab/' + sport + '/Training/'
file_name_3 = '/content/gdrive/MyDrive/Colab/' + sport + '/Predictions/'
!mkdir $file_name_1
!mkdir $file_name_2
!mkdir $file_name_3

mkdir: cannot create directory ‘/content/gdrive/MyDrive/Colab/Soccer/’: File exists
mkdir: cannot create directory ‘/content/gdrive/MyDrive/Colab/Soccer/Training/’: File exists
mkdir: cannot create directory ‘/content/gdrive/MyDrive/Colab/Soccer/Predictions/’: File exists

# 2.0 Data cleaning and processing

## 2.2 Loading the data

In [5]:
selection = ['Home Team', 'Away Team', 'Result']

df_1 = pd.read_csv('/content/champions-league-2020-UTC.csv')
df_2 = pd.read_csv('/content/champions-league-2021-UTC.csv')
df_3 = pd.read_csv('/content/champions-league-2022-UTC.csv')

df_1 = df_1[selection]
df_2 = df_2[selection]
df_3 = df_3[selection]

## 2.3 Data cleaning

### 2.3.1 Joining 2020, 2021, 2022 Data cleaning

In [6]:
df_4 = df_1.append(df_2)
df_4 = df_4.append(df_3)
df_4 = df_4.dropna()
df_4.head()

     Home Team    Away Team Result
0        Zenit  Club Brugge  1 - 2
1  Dynamo Kyiv     Juventus  0 - 2
2       Rennes    Krasnodar  1 - 1
3      Chelsea      Sevilla  0 - 0
4        Lazio     Dortmund  3 - 1

In [7]:
df_5 = df_4.rename(columns={"Home Team": "Home", "Away Team": "Away"})
df_5 = df_5.reset_index(drop=True)
df_5.head()

          Home         Away Result
0        Zenit  Club Brugge  1 - 2
1  Dynamo Kyiv     Juventus  0 - 2
2       Rennes    Krasnodar  1 - 1
3      Chelsea      Sevilla  0 - 0
4        Lazio     Dortmund  3 - 1

### 2.3.2 Team - index categorization

In [8]:
selection_1 = ['Home', 'Away']
df_6 = df_5[selection_1]
df_6

            Home         Away
0          Zenit  Club Brugge
1    Dynamo Kyiv     Juventus
2         Rennes    Krasnodar
3        Chelsea      Sevilla
4          Lazio     Dortmund
..           ...          ...
341        Milan     Salzburg
342     Man City      Sevilla
343   Copenhagen     Dortmund
344     Juventus        Paris
345     M. Haifa      Benfica

[346 rows x 2 columns]

In [33]:
df_7 = df_6['Home'].str.replace('\W', '', regex=True)
df_8 = df_6['Away'].str.replace('\W', '', regex=True)
df_9 = df_7.to_frame()
df_10 = df_8.to_frame()

df_10 = pd.concat([df_9, df_10], axis=1).reindex(df_8.index)
df_10.head()

         Home        Away
0       Zenit  ClubBrugge
1  DynamoKyiv    Juventus
2      Rennes   Krasnodar
3     Chelsea     Sevilla
4       Lazio    Dortmund

In [34]:
df_11 = pd.DataFrame(df_10, columns = ['Home'])
df_11 = df_11.squeeze()
df_11.head()

df_12 = pd.DataFrame(df_10, columns = ['Away'])
df_12 = df_12.squeeze()
df_12.head()

0    ClubBrugge
1      Juventus
2     Krasnodar
3       Sevilla
4      Dortmund
Name: Away, dtype: object

In [35]:
df_13 = df_10
df_13 = df_13.index
df_13

RangeIndex(start=0, stop=346, step=1)

In [36]:
df_14 = df_10["Home"].unique()
df_14

array(['Zenit', 'DynamoKyiv', 'Rennes', 'Chelsea', 'Lazio', 'Barcelona',
       'Paris', 'Leipzig', 'Salzburg', 'RealMadrid', 'Bayern',
       'Internazionale', 'Olympiacos', 'ManCity', 'Ajax', 'Midtjylland',
       'LokomotivMoskva', 'ShakhtarDonetsk', 'Atlético',
       'Mönchengladbach', 'Porto', 'Marseille', 'Atalanta', 'Liverpool',
       'Krasnodar', 'IstanbulBasaksehir', 'Sevilla', 'ClubBrugge',
       'Dortmund', 'Ferencváros', 'Juventus', 'ManUnited', 'YoungBoys',
       'Villarreal', 'LOSC', 'Malmö', 'Besiktas', 'Sheriff', 'SportingCP',
       'Inter', 'Milan', 'Benfica', 'Wolfsburg', 'DinamoZagreb', 'Celtic',
       'Frankfurt', 'Napoli', 'Tottenham', 'Plzen', 'Leverkusen',
       'Rangers', 'Copenhagen', 'MHaifa'], dtype=object)

In [37]:
df_15 = df_10["Away"].unique()
df_15

array(['ClubBrugge', 'Juventus', 'Krasnodar', 'Sevilla', 'Dortmund',
       'Ferencváros', 'ManUnited', 'IstanbulBasaksehir',
       'LokomotivMoskva', 'ShakhtarDonetsk', 'Atlético',
       'Mönchengladbach', 'Marseille', 'Porto', 'Liverpool', 'Atalanta',
       'Bayern', 'Internazionale', 'Salzburg', 'RealMadrid', 'Olympiacos',
       'ManCity', 'Ajax', 'Midtjylland', 'Chelsea', 'Paris', 'Rennes',
       'Lazio', 'Zenit', 'DynamoKyiv', 'Barcelona', 'Leipzig', 'Benfica',
       'Wolfsburg', 'Milan', 'Besiktas', 'Inter', 'SportingCP', 'Sheriff',
       'YoungBoys', 'Malmö', 'Villarreal', 'LOSC', 'Copenhagen', 'MHaifa',
       'Rangers', 'Leverkusen', 'Plzen', 'Tottenham', 'Frankfurt',
       'DinamoZagreb', 'Celtic', 'Napoli'], dtype=object)

In [ ]:
 df_16 = numpy.ma.concatenate([df_14, df_15])
 df_16

In [ ]:
df_17 = pd.DataFrame(numpy.ma.filled(df_16))
df_18 = df_17.drop_duplicates()
df_18['Index'] = df_18.index
df_18.columns.values[0] = "Team"
df_18.to_csv("Team-index.csv", index= False)
df_18.head()

In [40]:
df_19 = pd.Series(df_18.Team)
print(df_19.head())

0         Zenit
1    DynamoKyiv
2        Rennes
3       Chelsea
4         Lazio
Name: Team, dtype: object

In [41]:
df_20 = pd.DataFrame(df_18).to_numpy()
df_21 = pd.DataFrame(df_18['Team']).to_numpy()
df_22 = pd.DataFrame(df_18['Index']).to_numpy()

### 2.3.3 Categorization

In [ ]:
for n in df_13:
  for i in df_22:
      if df_20[i, 0] == df_11[n]:
        df_11[n] = df_20[i, 1]
        print(df_20[i, 1])

for n in df_13:
  for i in df_22:
      if df_20[i, 0] == df_12[n]:
        df_12[n] = df_20[i, 1]
        print(df_20[i, 1])

In [44]:
df_11.head()

0    [0]
1    [1]
2    [2]
3    [3]
4    [4]
Name: Home, dtype: object

In [45]:
df_12.head()

0    [27]
1    [30]
2    [24]
3    [26]
4    [28]
Name: Away, dtype: object

In [46]:
df_11 = pd.DataFrame(df_11, columns = ['Home'])
df_12 = pd.DataFrame(df_12, columns = ['Away'])

In [47]:
df_11.to_csv('Home.csv')
df_12.to_csv('Away.csv')

In [53]:
df_22 = df_11.set_index(df_11.index).join(df_12.set_index(df_12.index))

df_22 = df_22.astype(str)
df_22 = df_22.applymap(lambda x: float(pd.Series(x).str.extract(r'\[(\d+)\]')[0]))

df_22

     Home  Away
0    0.00 27.00
1    1.00 30.00
2    2.00 24.00
3    3.00 26.00
4    4.00 28.00
..    ...   ...
341 40.00  8.00
342 13.00 26.00
343 51.00 28.00
344 30.00  6.00
345 52.00 41.00

[346 rows x 2 columns]

## 2.4 Score preparation

In [54]:
df_23 = df_5
df_23 = df_23["Result"].str.replace('\W', ' ', regex=True)
df_23 = pd.DataFrame(df_23)
df_23 = df_23['Result'].str.split(' ', expand=True)
df_23

     0 1  2   3
0    1        2
1    0        2
2    1        1
3    0        0
4    3        1
..  .. .. .. ..
341  4        0
342  3        1
343  1        1
344  1        2
345  1        6

[346 rows x 4 columns]

In [56]:
df_23

     0 1  2   3
0    1        2
1    0        2
2    1        1
3    0        0
4    3        1
..  .. .. .. ..
341  4        0
342  3        1
343  1        1
344  1        2
345  1        6

[346 rows x 4 columns]

In [57]:
df_24 = df_23.drop(df_23.columns[[1, 2]],axis = 1)
mapping = {df_24.columns[0]: 'Home Goals', df_24.columns[1]: 'Away Goles'}
df_24 = df_24.rename(columns=mapping)
df_24 = pd.DataFrame(df_24)
df_24.to_csv("Goles.csv", index= False)
print(df_24)

    Home Goals Away Goles
0            1          2
1            0          2
2            1          1
3            0          0
4            3          1
..         ...        ...
341          4          0
342          3          1
343          1          1
344          1          2
345          1          6

[346 rows x 2 columns]

In [61]:
df_25 = pd.read_csv("Goles.csv")

In [63]:
# create a list of our conditions

conditions = [
    (df_25['Home Goals'] > df_25['Away Goles']),
    (df_25['Home Goals'] == df_25['Away Goles']),
    (df_25['Home Goals'] < df_25['Away Goles'])
]
     
# create a list of the values we want to assign for each condition
values = ['1', '2', '3']

# create a new column and use np.select to assign values to it using our lists as arguments
df_25['Outcome'] = np.select(conditions, values)

# display updated DataFrame
df_25 = pd.DataFrame(df_25)
df_25.to_csv("Goles-Outcome.csv", index= False)
df_25.head()

   Home Goals  Away Goles Outcome
0           1           2       3
1           0           2       3
2           1           1       2
3           0           0       2
4           3           1       1

## Training matriz creation

In [64]:
df_26 = pd.read_csv("Goles-Outcome.csv")
df_26.head()

   Home Goals  Away Goles  Outcome
0           1           2        3
1           0           2        3
2           1           1        2
3           0           0        2
4           3           1        1

In [66]:
df_27 = pd.concat([df_22, df_26["Outcome"]], axis=1)
df_27.to_csv("All.csv")

In [67]:
XY = pd.read_csv('/content/All.csv')
XY = XY.astype('float')

In [68]:
X = XY[{'Home','Away'}]
y = XY['Outcome']
y = pd.DataFrame(y).to_numpy()
X = pd.DataFrame(X).to_numpy()

#3.0 Training

##  3.1 Train-test splitting

In [72]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=.5,random_state =123)
clf = LazyClassifier(verbose=0,ignore_warnings=True, custom_metric=None)

In [73]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((173, 2), (173, 2), (173, 1), (173, 1))

## 3.1 Model Evaluation

In [74]:
models,predictions = clf.fit(X_train, X_test, y_train, y_test)
models

100%|██████████| 29/29 [00:01<00:00, 26.12it/s]

,Accuracy,Balanced Accuracy,ROC AUC,F1 Score,Time Taken
Model,,,,,
CalibratedClassifierCV,0.51,0.41,None,0.44,0.08
LinearDiscriminantAnalysis,0.49,0.40,None,0.43,0.02
RidgeClassifierCV,0.49,0.40,None,0.43,0.03
LogisticRegression,0.49,0.40,None,0.43,0.03
AdaBoostClassifier,0.47,0.39,None,0.44,0.12
QuadraticDiscriminantAnalysis,0.49,0.39,None,0.42,0.01
RidgeClassifier,0.49,0.39,None,0.42,0.02
LinearSVC,0.49,0.39,None,0.42,0.02
GaussianNB,0.49,0.39,None,0.42,0.01
SGDClassifier,0.38,0.39,None,0.32,0.02
BernoulliNB,0.47,0.37,None,0.39,0.01
NuSVC,0.45,0.37,None,0.42,0.02
RandomForestClassifier,0.41,0.36,None,0.40,0.21
NearestCentroid,0.43,0.36,None,0.40,0.04
SVC,0.45,0.36,None,0.38,0.02
ExtraTreesClassifier,0.40,0.36,None,0.40,0.17
DecisionTreeClassifier,0.39,0.35,None,0.38,0.01
LGBMClassifier,0.41,0.35,None,0.39,0.06
PassiveAggressiveClassifier,0.32,0.35,None,0.26,0.01
Perceptron,0.45,0.35,None,0.35,0.02
ExtraTreeClassifier,0.36,0.34,None,0.37,0.01
LabelPropagation,0.40,0.34,None,0.39,0.02
LabelSpreading,0.40,0.33,None,0.38,0.02
DummyClassifier,0.45,0.33,None,0.27,0.01
KNeighborsClassifier,0.38,0.33,None,0.36,0.02
BaggingClassifier,0.36,0.32,None,0.35,0.04

In [75]:
import seaborn as sns
sns.set(style='ticks')
import matplotlib.pyplot as plt

In [76]:
from sklearn.metrics import precision_score
import sklearn
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn.svm import SVR
from sklearn.utils import shuffle
from lightgbm import LGBMClassifier

lgbm = LGBMClassifier(objective='multiclass', random_state=5)

lgbm.fit(X_train, y_train)

y_pred = lgbm.predict(X_test)
r2 = lgbm.score(X_test, y_test)
precision = precision_score(y_test, y_pred, average="weighted")
print("Precision score:", precision)

Precision score: 0.38198096397062015

In [79]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.calibration import CalibratedClassifierCV
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()
calibrated_clf = CalibratedClassifierCV(clf, cv=5)

calibrated_clf.fit(X_train, y_train)
probas = calibrated_clf.predict_proba(X_test)
probas

array([[0.38657682, 0.19704968, 0.41637349],
       [0.50353788, 0.19048463, 0.30597748],
       [0.45682966, 0.20524275, 0.33792759],
       [0.51503323, 0.196979  , 0.28798777],
       [0.4217771 , 0.19464791, 0.38357499],
       [0.35359711, 0.20367866, 0.44272423],
       [0.38241197, 0.19838258, 0.41920545],
       [0.51941944, 0.19888204, 0.28169852],
       [0.50837206, 0.19436437, 0.29726357],
       [0.35466538, 0.20470555, 0.44062907],
       [0.46578543, 0.19682284, 0.33739173],
       [0.38484421, 0.19728574, 0.41787006],
       [0.45002989, 0.19348202, 0.35648809],
       [0.46549073, 0.1976554 , 0.33685386],
       [0.3701579 , 0.19994615, 0.42989595],
       [0.33609618, 0.20881409, 0.45508974],
       [0.52336084, 0.19871071, 0.27792846],
       [0.51647692, 0.20790432, 0.27561876],
       [0.51240464, 0.20461969, 0.28297567],
       [0.41703734, 0.1936483 , 0.38931436],
       [0.46477372, 0.1994056 , 0.33582068],
       [0.5143185 , 0.20456528, 0.28111622],
       [0.48013423, 0.19177952, 0.32808625],
       [0.33185269, 0.21085294, 0.45729436],
       [0.38307823, 0.19773794, 0.41918384],
       [0.34323403, 0.20666485, 0.45010113],
       [0.48769454, 0.18713206, 0.3251734 ],
       [0.37264196, 0.19945006, 0.42790798],
       [0.46603569, 0.19602077, 0.33794354],
       [0.38760525, 0.19846078, 0.41393397],
       [0.36307096, 0.20228773, 0.43464131],
       [0.51627116, 0.1979564 , 0.28577244],
       [0.45316818, 0.18853855, 0.35829327],
       [0.52630223, 0.19750278, 0.27619499],
       [0.44392249, 0.20632915, 0.34974836],
       [0.41287122, 0.19295157, 0.39417722],
       [0.52348004, 0.20424064, 0.27227932],
       [0.43894482, 0.1942035 , 0.36685168],
       [0.49890343, 0.18939353, 0.31170304],
       [0.4501354 , 0.19404859, 0.35581601],
       [0.4693839 , 0.20021317, 0.33040293],
       [0.44571992, 0.20252828, 0.35175179],
       [0.46984483, 0.19928134, 0.33087383],
       [0.44132108, 0.18992614, 0.36875278],
       [0.46931115, 0.19236678, 0.33832207],
       [0.37611573, 0.19916154, 0.42472273],
       [0.44202434, 0.19704993, 0.36092574],
       [0.50307776, 0.20154828, 0.29537396],
       [0.342703  , 0.20735132, 0.44994568],
       [0.40893301, 0.19353433, 0.39753267],
       [0.34844175, 0.2053883 , 0.44616995],
       [0.52508485, 0.18910601, 0.28580914],
       [0.45944559, 0.18966775, 0.35088666],
       [0.40366989, 0.19430315, 0.40202696],
       [0.44865185, 0.20156849, 0.34977966],
       [0.43468835, 0.1905043 , 0.37480735],
       [0.49279084, 0.20072681, 0.30648235],
       [0.39809051, 0.19536183, 0.40654766],
       [0.37961977, 0.19845087, 0.42192936],
       [0.40723818, 0.19544255, 0.39731927],
       [0.40535903, 0.19441425, 0.40022672],
       [0.52621918, 0.20638294, 0.26739787],
       [0.40810999, 0.19360245, 0.39828756],
       [0.43940257, 0.20541338, 0.35518405],
       [0.4609081 , 0.20225617, 0.33683573],
       [0.50319465, 0.19125249, 0.30555285],
       [0.50693104, 0.19932901, 0.29373995],
       [0.46839106, 0.19673203, 0.33487691],
       [0.37478863, 0.19920145, 0.42600992],
       [0.42102384, 0.19210225, 0.38687391],
       [0.3708871 , 0.19983329, 0.4292796 ],
       [0.5360577 , 0.20133514, 0.26260716],
       [0.43915468, 0.18992243, 0.3709229 ],
       [0.40144234, 0.19462087, 0.40393679],
       [0.45076294, 0.20729545, 0.34194161],
       [0.36078204, 0.20341134, 0.43580661],
       [0.51206322, 0.19811875, 0.28981803],
       [0.43621622, 0.20026552, 0.36351826],
       [0.48884054, 0.19980191, 0.31135755],
       [0.50006077, 0.20269122, 0.29724801],
       [0.46477372, 0.1994056 , 0.33582068],
       [0.40161974, 0.19502953, 0.40335073],
       [0.41664642, 0.19552643, 0.38782715],
       [0.36425797, 0.20124883, 0.43449319],
       [0.50448234, 0.20480473, 0.29071293],
       [0.33967149, 0.20782293, 0.45250558],
       [0.35089538, 0.20553107, 0.44357355],
       [0.42374623, 0.19372172, 0.38253205],
       [0.43902661, 0.19937722, 0.36159618],
       [0.45081821, 0.20242758, 0.34675421],
       [0.50147428, 0.20823563, 0.29029009],
       [0.37863836, 0.19871286, 0.42264878],
       [0.46282597, 0.20728168, 0.32989235],
       [0.43620653, 0.19056685, 0.37322662],
       [0.42096452, 0.19398918, 0.3850463 ],
       [0.38567826, 0.19739806, 0.41692368],
       [0.4638306 , 0.18842202, 0.34774738],
       [0.45076294, 0.20729545, 0.34194161],
       [0.43467603, 0.19105016, 0.37427381],
       [0.44204061, 0.19572985, 0.36222953],
       [0.51736203, 0.18624287, 0.2963951 ],
       [0.4492944 , 0.19982545, 0.35088014],
       [0.43374943, 0.19959623, 0.36665433],
       [0.49733803, 0.20603637, 0.2966256 ],
       [0.373376  , 0.19934374, 0.42728026],
       [0.32923815, 0.21104037, 0.45972148],
       [0.54210599, 0.19980502, 0.258089  ],
       [0.43846015, 0.19326812, 0.36827174],
       [0.42139226, 0.19430007, 0.38430767],
       [0.49917584, 0.20379643, 0.29702773],
       [0.45999108, 0.19866595, 0.34134297],
       [0.39765041, 0.19618713, 0.40616245],
       [0.44059713, 0.20264228, 0.3567606 ],
       [0.40823158, 0.19527129, 0.39649713],
       [0.33753822, 0.20845158, 0.4540102 ],
       [0.42835101, 0.20058643, 0.37106256],
       [0.52798174, 0.19957424, 0.27244402],
       [0.47151813, 0.18956174, 0.33892013],
       [0.46371747, 0.19463675, 0.34164578],
       [0.38497695, 0.19797199, 0.41705106],
       [0.34385392, 0.20627184, 0.44987423],
       [0.44791876, 0.1894267 , 0.36265454],
       [0.49703441, 0.20383233, 0.29913326],
       [0.45335556, 0.20238143, 0.344263  ],
       [0.42835101, 0.20058643, 0.37106256],
       [0.3544862 , 0.20369954, 0.44181425],
       [0.44571992, 0.20252828, 0.35175179],
       [0.37409215, 0.19926043, 0.42664742],
       [0.50331946, 0.1845305 , 0.31215004],
       [0.41049821, 0.1934815 , 0.39602029],
       [0.44096115, 0.1926384 , 0.36640046],
       [0.43395969, 0.19746687, 0.36857344],
       [0.40533146, 0.19398183, 0.40068671],
       [0.50344091, 0.20820671, 0.28835238],
       [0.34693613, 0.20571652, 0.44734735],
       [0.43095394, 0.19083788, 0.37820818],
       [0.42266931, 0.19591281, 0.38141787],
       [0.45823295, 0.18810933, 0.35365772],
       [0.46639767, 0.19451413, 0.3390882 ],
       [0.435577  , 0.19141925, 0.37300374],
       [0.43257227, 0.2037187 , 0.36370903],
       [0.43915279, 0.1901293 , 0.3707179 ],
       [0.46967074, 0.18793557, 0.3423937 ],
       [0.48817007, 0.20082047, 0.31100946],
       [0.35759674, 0.20308951, 0.43931375],
       [0.39746717, 0.19722648, 0.40530635],
       [0.5329548 , 0.19206707, 0.27497812],
       [0.33831212, 0.20837175, 0.45331613],
       [0.49818472, 0.19152354, 0.31029173],
       [0.42859176, 0.1977727 , 0.37363555],
       [0.48193232, 0.19460824, 0.32345944],
       [0.40093715, 0.1949813 , 0.40408155],
       [0.45247596, 0.19227286, 0.35525118],
       [0.47452589, 0.18982475, 0.33564936],
       [0.46479595, 0.1889145 , 0.34628955],
       [0.46891999, 0.19020086, 0.34087915],
       [0.44836568, 0.1908923 , 0.36074203],
       [0.44686713, 0.19265695, 0.36047592],
       [0.44899291, 0.20068428, 0.35032281],
       [0.42049458, 0.19371506, 0.38579036],
       [0.45809227, 0.19633536, 0.34557237],
       [0.37541317, 0.199167  , 0.42541983],
       [0.465153  , 0.19851688, 0.33633012],
       [0.42241598, 0.19545444, 0.38212958],
       [0.36493964, 0.20116013, 0.43390023],
       [0.51441255, 0.18769907, 0.29788839],
       [0.41791308, 0.19846207, 0.38362485],
       [0.34113365, 0.20747528, 0.45139108],
       [0.45832784, 0.19298555, 0.3486866 ],
       [0.45002989, 0.19348202, 0.35648809],
       [0.46225763, 0.1879274 , 0.34981497],
       [0.43387481, 0.19052187, 0.37560332],
       [0.47980581, 0.19904277, 0.32115142]])

In [80]:
X = np.array([9., 23.])
y_pred = calibrated_clf.predict_proba(X.reshape(1, -1))  # pass the input as a 2D array
print(y_pred)

[[0.47980581 0.19904277 0.32115142]]

In [81]:
svr_rbf = SVR(kernel="rbf", C=100, gamma=0.1, epsilon=0.1)
svr_lin = SVR(kernel="linear", C=100, gamma="auto")
svr_poly = SVR(kernel="poly", C=100, gamma="auto", degree=3, epsilon=0.1, coef0=1)
lw = 2

svrs = [svr_rbf, svr_lin, svr_poly]
kernel_label = ["RBF", "Linear", "Polynomial"]
model_color = ["m", "c", "g"]
svr_rbf.fit(X_train, y_train).predict(X_test)
r2 = svr_rbf.score(X_test, y_test)
Y_pred = svr_rbf.predict(X_test)
r2

-1.3617318827020246